body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
  padding: 40px;
}

h1 {
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.card {
  background: #1e293b;
  width: 320px;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h2 {
  margin-top: 15px;
}

.card p {
  padding: 0 15px;
  color: #cbd5e1;
}

.tech {
  margin: 15px;
}

.tech span {
  background: #334155;
  padding: 6px 10px;
  border-radius: 8px;
  margin: 3px;
  display: inline-block;
  font-size: 14px;
}

.card a {
  display: inline-block;
  margin: 15px;
  padding: 10px 15px;
  background: #38bdf8;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.card a:hover {
  background: #0ea5e9;
}
